@tailwind base;
@tailwind components;
@tailwind utilities;

/* Setări de bază pentru ca aplicația să ocupe tot ecranul */
html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f3f4f6; /* Un gri deschis plăcut */
}